{{#if  isCompleteDistribution }}
<div class="row">
  <div class="large-12 columns">
    <br>
    <h4 align="center">Student Distribution Results</h4>
    <hr/>
    <br>
	<div>
	    <table>
	        <tr>
	            <th>
	                Student Number
	            </th>
	            <th> 
	                Student Name 
	            </th>
	            <th> 
	                Cumulative Average 
	            </th>
	            <th>
	                Engineering Discipline
	            </th>
	        </tr>
	        {{#each model as |student|}}
	        <tr>
	            <td>
	                {{student.number}}
	            </td>
	            <td>
	                {{student.firstName}}
	            </td>
	            <td>
	                {{student.avg}}
	            </td>
	            <td>
	                
	            </td>
	        </tr>
	        {{/each}}
	    </table>
	</div>
    <br>
    <a href="#" class="button primary tiny" {{action 'saveResults'}}>Save</a>
    <a href="#" class="button primary tiny" {{action 'cancel'}}>Cancel</a>
  </div>
</div>

{{else if isDistributionInProgress}}
<div class="row">
  <div class="large-12 columns">
    <a href="#" class="button tiny notmain" {{action 'distributionComplete'}}>Please Wait...</a>
  </div>
</div>

{{else}}
<div class="row">
  <div class="large-12 columns">
    <a href="#" class="button tiny notmain" {{action 'distributeStudents'}}>Begin Distribution</a>
  </div>
</div>
{{/if}}