{{#if  isStudentFormEditing }}
<div class="row">
    <div class="large-12 columns">
        <br>
        <hr/>
        <h3 align="center">Modify {{studentModel.firstName}}'s Profile</h3>
        <form>
            <div class="row">
                <div class="large-12 columns">

                    <div class="large-12 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-3 columns">
                                <span class="prefix">Student Number</span>
                            </div>
                            <div class="small-9 columns">
                                {{input value=studentModel.number type="text" placeholder="enter student number" }}
                            </div>
                        </div>
                    </div>

                    <div class="large-12 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-3 columns">
                                <span class="prefix">First Name</span>
                            </div>
                            <div class="small-9 columns">
                                {{input value=studentModel.firstName type="text" placeholder="enter first name" }}
                            </div>
                        </div>
                    </div>

                    <div class="large-12 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-3 columns">
                                <span class="prefix">Last Name</span>
                            </div>
                            <div class="small-9 columns">
                                {{input value=studentModel.lastName type="text" placeholder="enter last name"}}
                            </div>
                        </div>
                    </div>

                    <div class="large-12 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-3 columns">
                                <span class="prefix">Date of Birth</span>
                            </div>
                            <div class="small-9 columns">
                                {{input value=studentModel.DOB type="date" placeholder="Date of Birth"}}
                            </div>
                        </div>
                    </div>

                    <div class="large-12 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-3 columns">
                                <span class="prefix">Residency</span>
                            </div>
                            <div class="small-9 columns">
                                <select onchange={{action (mut selectedResidency) value="target.value"}}>
                                    {{#each residencyModel as |residencyChoice|}}
                                    <option value={{residencyChoice.id}} selected={{eq selectedResidency residencyChoice}}>{{residencyChoice.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="large-12 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-3 columns">
                                <span class="prefix">Gender</span>
                            </div>
                            <div class="small-9 columns">
                                <select onchange={{action (mut selectedGender) value="target.value"}}>
                                    {{#each genderModel as |genderChoice|}}
                                    <option value={{genderChoice.id}} selected={{eq selectedGender genderChoice}}>{{genderChoice.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="large-12 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-3 columns">
                                <span class="prefix">Country</span>
                            </div>
                            <div class="small-9 columns">
                                <select onchange={{action (mut selectedCountry) value="target.value"}}>
                                    {{#each countryModel as |countryChoice|}}
                                    <option value={{countryChoice.id}} selected={{eq selectedCountry countryChoice}}>{{countryChoice.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="large-12 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-3 columns">
                                <span class="prefix">Province</span>
                            </div>
                            <div class="small-9 columns">
                                <select onchange={{action (mut selectedProvince) value="target.value"}}>
                                    {{#each provinceModel as |provinceChoice|}}
                                    <option value={{provinceChoice.id}} selected={{eq selectedProvince provinceChoice}}>{{provinceChoice.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="large-12 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-3 columns">
                                <span class="prefix">City</span>
                            </div>
                            <div class="small-9 columns">
                                <select onchange={{action (mut selectedCity) value="target.value"}}>
                                    {{#each cityModel as |cityChoice|}}
                                    <option value={{cityChoice.id}} selected={{eq selectedCity cityChoice}}>{{cityChoice.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="large-12 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-3 columns">
                                <span class="prefix">Academic Load</span>
                            </div>
                            <div class="small-9 columns">
                                <select onchange={{action (mut selectedAcademicload) value="target.value"}}>
                                    {{#each academicloadModel as |academicloadChoice|}}
                                    <option value={{academicloadChoice.id}} selected={{eq selectedAcademicload academicloadChoice}}>{{academicloadChoice.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <br>
        <a href="#" class="button primary tiny" {{action 'saveStudent'}}>Save</a>
        <a href="#" class="button primary tiny" {{action 'cancel'}}>Cancel</a>
    </div>
</div>
{{else}}

<div class="large-1 columns">
    <a href="#" class="button primary tiny"  {{action 'editStudent'}}>Edit</a>
</div>

{{/if}}


