{{#if  isManagingLogicalExpression }}


<div class="row">
  <div class="large-12 columns">
    <br>
    <h4 align="center">Add New Logical Expression</h4>
    <hr/>
    <br>
    <fieldset>
      <legend>Please use the form below</legend>
      <br>
      <form>

        <div class="row">
          <div class="large-12 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">Admission Rule</span>
              </div>
              <div class="small-9 columns">
                <select id="myDropdown" onchange={{action (mut selectedAdmissionrule) value="target.value"}}>
                  {{#each admissionruleModel as |admissionruleChoice|}}
                  <option value={{admissionruleChoice.id}} selected={{eq selectedAdmissionrule admissionruleChoice}}>{{admissionruleChoice.description}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <br>
          </div>

          <div class="large-12 columns">
          Logical Expression
            <div class="row collapse prefix-radius">
            {{! 
              <div class="small-3 columns">
                <span class="prefix">Logical Expression</span>
              </div>
            }}

              <div class="small-1 columns">
                  <select id="openBracket">
                    <option value=(>(</option>
                    <option value=((>((</option>
                    <option value=(((>(((</option>
                    <option value=((((>((((</option>
                  
                  </select>                              
              </div>

              <div class="small-3 columns">
                <select onchange={{action (mut selectedCoursecode) value="target.value"}}>
                  <option value=default>Select One</option>
                  <option value=AVG>AVG</option>
                  {{#each coursecodeModel as |coursecodeChoice|}}
                  <option value={{coursecodeChoice.id}} selected={{eq selectedCoursecode coursecodeChoice}}>{{coursecodeChoice.name}}</option>
                  {{/each}}
                </select>
              </div>

              <div class="small-2 columns">
                <select id="inequality">
                    <option value='&#62;'> ></option>
                    <option value='&#62;='> >= </option>
                    <option value='&#60;'> &#60; </option>
                    <option value='&#60;='> &#60;=</option>
                    <option value='='> =</option>
                    <option value='!='> !=</option>
                </select>
              </div>

              <div class="small-3 columns">
                {{input value=val type="number" min="0" max="100"}}
              </div>

              <div class="small-1 columns">
                <select id="closeBracket">
                    <option value=)>)</option>
                    <option value=))>))</option>
                    <option value=)))>)))</option>
                    <option value=))))>))))</option>
                  
                  </select>  
              </div>
              <div class="small-2 columns">
                <select id="AndOr">
                  <option value=&&> AND </option>
                  <option value=||> OR </option>
                </select>
              </div>
{{! EXPRESSION 1 **********************************************************}}
            {{#if  isAddingTologicalExpression1 }}
              <div class="large-12 columns">
              <div class="small-1 columns">
                    <select id="openBracket1">
                      <option value=(>(</option>
                      <option value=((>((</option>
                      <option value=(((>(((</option>
                      <option value=((((>((((</option>
                    
                    </select>                              
                </div>

                <div class="small-3 columns">
                  <select onchange={{action (mut selectedCoursecode1) value="target.value"}}>
                    <option value=default>Select One</option>
                    <option value=AVG>AVG</option>
                    {{#each coursecodeModel as |coursecodeChoice1|}}
                    <option value={{coursecodeChoice1.id}} selected={{eq selectedCoursecode1 coursecodeChoice1}}>{{coursecodeChoice1.name}}</option>
                    {{/each}}
                  </select>
                </div>

                <div class="small-2 columns">
                  <select id="inequality1">
                      <option value='&#62;'> ></option>
                    <option value='&#62;='> >= </option>
                    <option value='&#60;'> &#60; </option>
                    <option value='&#60;='> &#60;=</option>
                    <option value='='> =</option>
                    <option value='!='> !=</option>
                  </select>
                </div>

                <div class="small-3 columns">
                  {{input type="number" value=val1 min="0" max="100"}}
                </div>

                <div class="small-1 columns">
                  <select id="closeBracket1">
                    <option value=)>)</option>
                    <option value=))>))</option>
                    <option value=)))>)))</option>
                    <option value=))))>))))</option>
                    
                    </select>  
                </div>
                <div class="small-2 columns">
                  <select id="AndOr1">
                    <option value=&&> AND </option>
                    <option value=||> OR </option>
                  </select>
                </div>
                </div>

              {{else}}

              <div class="row">
                <div class="large-12 columns">
                  <a href="#" class="button tiny notmain" {{action 'addtoLogicalExpression1'}}>Extend Logical Expression</a>
                </div>
              </div>

            {{/if}}
{{! EXPRESSION 2**********************************************************}}
            {{#if  isAddingTologicalExpression2 }}
              <div class="large-12 columns">
              <div class="small-1 columns">
                    <select id="openBracket2">
                     <option value=(>(</option>
                      <option value=((>((</option>
                      <option value=(((>(((</option>
                      <option value=((((>((((</option>
                    
                    </select>                              
                </div>

                <div class="small-3 columns">
                  <select onchange={{action (mut selectedCoursecode2) value="target.value"}}>
                    <option value=default>Select One</option>
                    <option value=AVG>AVG</option>
                    {{#each coursecodeModel as |coursecodeChoice2|}}
                    <option value={{coursecodeChoice2.id}} selected={{eq selectedCoursecode2 coursecodeChoice2}}>{{coursecodeChoice2.name}}</option>
                    {{/each}}
                  </select>
                </div>

                <div class="small-2 columns">
                  <select id="inequality2">
                    <option value='&#62;'> ></option>
                    <option value='&#62;='> >= </option>
                    <option value='&#60;'> &#60; </option>
                    <option value='&#60;='> &#60;=</option>
                    <option value='='> =</option>
                    <option value='!='> !=</option>
                  </select>
                </div>

                <div class="small-3 columns">
                  {{input type="number" value=val2 min="0" max="100"}}
                </div>

                <div class="small-1 columns">
                  <select id="closeBracket2">
                    <option value=)>)</option>
                    <option value=))>))</option>
                    <option value=)))>)))</option>
                    <option value=))))>))))</option>
                    
                    </select>  
                </div>
                <div class="small-2 columns">
                  <select id="AndOr2">
                    <option value=&&> AND </option>
                    <option value=||> OR </option>
                  </select>
                </div>
                </div>

              {{else}}
              {{#if  isAddingTologicalExpression1 }}
              <div class="row">
                <div class="large-12 columns">
                  <a href="#" class="button tiny notmain" id="extend2" {{action 'addtoLogicalExpression2'}}>Extend Logical Expression</a>
                </div>
              </div>
              {{/if}}
            {{/if}}
{{! **********************************************************}}
{{!EXPRESSION 3 **********************************************************}}
            {{#if  isAddingTologicalExpression3 }}
              <div class="large-12 columns">
              <div class="small-1 columns">
                    <select id="openBracket3">
                      <option value=(>(</option>
                      <option value=((>((</option>
                      <option value=(((>(((</option>
                      <option value=((((>((((</option>
                    
                    </select>                              
                </div>

                <div class="small-3 columns">
                  <select onchange={{action (mut selectedCoursecode3) value="target.value"}}>
                    <option value=default>Select One</option>
                    <option value=AVG>AVG</option>
                    {{#each coursecodeModel as |coursecodeChoice3|}}
                    <option value={{coursecodeChoice3.id}} selected={{eq selectedCoursecode3 coursecodeChoice3}}>{{coursecodeChoice3.name}}</option>
                    {{/each}}
                  </select>
                </div>

                <div class="small-2 columns">
                  <select id="inequality3">
                    <option value='&#62;'> ></option>
                    <option value='&#62;='> >= </option>
                    <option value='&#60;'> &#60; </option>
                    <option value='&#60;='> &#60;=</option>
                    <option value='='> =</option>
                    <option value='!='> !=</option>
                  </select>
                </div>

                <div class="small-3 columns">
                  {{input type="number" value=val3 min="0" max="100"}}
                </div>

                <div class="small-1 columns">
                  <select id="closeBracket3">
                    <option value=)>)</option>
                    <option value=))>))</option>
                    <option value=)))>)))</option>
                    <option value=))))>))))</option>
                    
                    </select>  
                </div>
                <div class="small-2 columns">
                  <select id="AndOr3">
                    <option value=&&> AND </option>
                    <option value=||> OR </option>
                  </select>
                </div>
                </div>

              {{else}}
              {{#if  isAddingTologicalExpression2 }}
              <div class="row">
                <div class="large-12 columns">
                  <a href="#" class="button tiny notmain" id="extend3" {{action 'addtoLogicalExpression3'}}>Extend Logical Expression</a>
                </div>
              </div>
              {{/if}}
            {{/if}}
{{! EXPRESSION 4**********************************************************}}
            {{#if  isAddingTologicalExpression4 }}
              <div class="large-12 columns">
              <div class="small-1 columns">
                    <select id="openBracket4">
                      <option value=(>(</option>
                      <option value=((>((</option>
                      <option value=(((>(((</option>
                      <option value=((((>((((</option>
                    
                    </select>                              
                </div>

                <div class="small-3 columns">
                  <select onchange={{action (mut selectedCoursecode4) value="target.value"}}>
                    <option value=default>Select One</option>
                    <option value=AVG>AVG</option>
                    {{#each coursecodeModel as |coursecodeChoice4|}}
                    <option value={{coursecodeChoice4.id}} selected={{eq selectedCoursecode4 coursecodeChoice4}}>{{coursecodeChoice4.name}}</option>
                    {{/each}}
                  </select>
                </div>

                <div class="small-2 columns">
                  <select id="inequality4">
                    <option value='&#62;'> ></option>
                    <option value='&#62;='> >= </option>
                    <option value='&#60;'> &#60; </option>
                    <option value='&#60;='> &#60;=</option>
                    <option value='='> =</option>
                    <option value='!='> !=</option>
                  </select>
                </div>

                <div class="small-3 columns">
                  {{input type="number" value=val4 min="0" max="100"}}
                </div>

                <div class="small-1 columns">
                  <select id="closeBracket4">
                      <option value=)>)</option>
                    <option value=))>))</option>
                    <option value=)))>)))</option>
                    <option value=))))>))))</option>
                    
                    </select>  
                </div>
                <div class="small-2 columns">
                  <select id="AndOr4">
                    <option value=&&> AND </option>
                    <option value=||> OR </option>
                  </select>
                </div>
                </div>

              {{else}}
              {{#if  isAddingTologicalExpression3 }}
              <div class="row">
                <div class="large-12 columns">
                  <a href="#" class="button tiny notmain" {{action 'addtoLogicalExpression4'}}>Extend Logical Expression</a>
                </div>
              </div>
              {{/if}}
            {{/if}}
{{! EXPRESSION 5 **********************************************************}}
            {{#if  isAddingTologicalExpression5 }}
              <div class="large-12 columns">
              <div class="small-1 columns">
                    <select id="openBracket5">
                      <option value=(>(</option>
                      <option value=((>((</option>
                      <option value=(((>(((</option>
                      <option value=((((>((((</option>
                    
                    </select>                              
                </div>

                <div class="small-3 columns">
                  <select onchange={{action (mut selectedCoursecode5) value="target.value"}}>
                    <option value=default>Select One</option>
                    <option value=AVG>AVG</option>
                    {{#each coursecodeModel as |coursecodeChoice5|}}
                    <option value={{coursecodeChoice5.id}} selected={{eq selectedCoursecode5 coursecodeChoice5}}>{{coursecodeChoice5.name}}</option>
                    {{/each}}
                  </select>
                </div>

                <div class="small-2 columns">
                  <select id="inequality5">
                    <option value='&#62;'> ></option>
                    <option value='&#62;='> >= </option>
                    <option value='&#60;'> &#60; </option>
                    <option value='&#60;='> &#60;=</option>
                    <option value='='> =</option>
                    <option value='!='> !=</option>
                  </select>
                </div>

                <div class="small-3 columns">
                  {{input type="number" value=val5 min="0" max="100"}}
                </div>

                <div class="small-1 columns">
                  <select id="closeBracket5">
                    <option value=)>)</option>
                    <option value=))>))</option>
                    <option value=)))>)))</option>
                    <option value=))))>))))</option>
                    
                    </select>  
                </div>
                <div class="small-2 columns">
                  <select id="AndOr5">
                    <option value=&&> AND </option>
                    <option value=||> OR </option>
                  </select>
                </div>
                </div>

              {{else}}
              {{#if  isAddingTologicalExpression4 }}
              <div class="row">
                <div class="large-12 columns">
                  <a href="#" class="button tiny notmain" {{action 'addtoLogicalExpression5'}}>Extend Logical Expression</a>
                </div>
              </div>
              {{/if}}
            {{/if}}
{{! **********************************************************}}
{{! EXPRESSION 6 **********************************************************}}
            {{#if  isAddingTologicalExpression6 }}
              <div class="large-12 columns">
              <div class="small-1 columns">
                    <select id="openBracket6">
                      <option value=(>(</option>
                      <option value=((>((</option>
                      <option value=(((>(((</option>
                      <option value=((((>((((</option>
                    
                    </select>                              
                </div>

                <div class="small-3 columns">
                  <select onchange={{action (mut selectedCoursecode6) value="target.value"}}>
                    <option value=default>Select One</option>
                    <option value=AVG>AVG</option>
                    {{#each coursecodeModel as |coursecodeChoice6|}}
                    <option value={{coursecodeChoice6.id}} selected={{eq selectedCoursecode6 coursecodeChoice6}}>{{coursecodeChoice6.name}}</option>
                    {{/each}}
                  </select>
                </div>

                <div class="small-2 columns">
                  <select id="inequality6">
                    <option value='&#62;'> ></option>
                    <option value='&#62;='> >= </option>
                    <option value='&#60;'> &#60; </option>
                    <option value='&#60;='> &#60;=</option>
                    <option value='='> =</option>
                    <option value='!='> !=</option>
                  </select>
                </div>

                <div class="small-3 columns">
                  {{input type="number" value=val6 min="0" max="100"}}
                </div>

                <div class="small-1 columns">
                  <select id="closeBracket6">
                    <option value=)>)</option>
                    <option value=))>))</option>
                    <option value=)))>)))</option>
                    <option value=))))>))))</option>
                    
                    </select>  
                </div>
                <div class="small-2 columns">
                  <select id="AndOr6">
                    <option value=&&> AND </option>
                    <option value=||> OR </option>
                  </select>
                </div>
                </div>

              {{else}}
              {{#if  isAddingTologicalExpression5 }}
              <div class="row">
                <div class="large-12 columns">
                  <a href="#" class="button tiny notmain" {{action 'addtoLogicalExpression6'}}>Extend Logical Expression</a>
                </div>
              </div>
              {{/if}}
            {{/if}}
{{! EXPRESSION 7 **********************************************************}}
            {{#if  isAddingTologicalExpression7 }}
              <div class="large-12 columns">
              <div class="small-1 columns">
                    <select id="openBracket7">
                      <option value=(>(</option>
                      <option value=((>((</option>
                      <option value=(((>(((</option>
                      <option value=((((>((((</option>
                    
                    </select>                              
                </div>

                <div class="small-3 columns">
                  <select onchange={{action (mut selectedCoursecode7) value="target.value"}}>
                    <option value=default>Select One</option>
                    <option value=AVG>AVG</option>
                    {{#each coursecodeModel as |coursecodeChoice7|}}
                    <option value={{coursecodeChoice7.id}} selected={{eq selectedCoursecode7 coursecodeChoice7}}>{{coursecodeChoice7.name}}</option>
                    {{/each}}
                  </select>
                </div>

                <div class="small-2 columns">
                  <select id="inequality7">
                    <option value='&#62;'> ></option>
                    <option value='&#62;='> >= </option>
                    <option value='&#60;'> &#60; </option>
                    <option value='&#60;='> &#60;=</option>
                    <option value='='> =</option>
                    <option value='!='> !=</option>
                  </select>
                </div>

                <div class="small-3 columns">
                  {{input type="number" value=val7 min="0" max="100"}}
                </div>

                <div class="small-1 columns">
                  <select id="closeBracket7">
                    <option value=)>)</option>
                    <option value=))>))</option>
                    <option value=)))>)))</option>
                    <option value=))))>))))</option>
                    
                    </select>  
                </div>
                <div class="small-2 columns">
                  <select id="AndOr7">
                    <option value=&&> AND </option>
                    <option value=||> OR </option>
                  </select>
                </div>
                </div>

              {{else}}
              {{#if  isAddingTologicalExpression6 }}
              <div class="row">
                <div class="large-12 columns">
                  <a href="#" class="button tiny notmain" {{action 'addtoLogicalExpression7'}}>Extend Logical Expression</a>
                </div>
              </div>
              {{/if}}
            {{/if}}
{{! EXPRESSION 8 **********************************************************}}
            {{#if  isAddingTologicalExpression8 }}
              <div class="large-12 columns">
              <div class="small-1 columns">
                    <select id="openBracket8">
                      <option value=(>(</option>
                      <option value=((>((</option>
                      <option value=(((>(((</option>
                      <option value=((((>((((</option>
                    
                    </select>                              
                </div>

                <div class="small-3 columns">
                  <select onchange={{action (mut selectedCoursecode8) value="target.value"}}>
                    <option value=default>Select One</option>
                    <option value=AVG>AVG</option>
                    {{#each coursecodeModel as |coursecodeChoice8|}}
                    <option value={{coursecodeChoice8.id}} selected={{eq selectedCoursecode8 coursecodeChoice8}}>{{coursecodeChoice8.name}}</option>
                    {{/each}}
                  </select>
                </div>

                <div class="small-2 columns">
                  <select id="inequality8">
                    <option value='&#62;'> ></option>
                    <option value='&#62;='> >= </option>
                    <option value='&#60;'> &#60; </option>
                    <option value='&#60;='> &#60;=</option>
                    <option value='='> =</option>
                    <option value='!='> !=</option>
                  </select>
                </div>

                <div class="small-3 columns">
                  {{input type="number" value=val8 min="0" max="100"}}
                </div>

                <div class="small-1 columns">
                  <select id="closeBracket8">
                    <option value=)>)</option>
                    <option value=))>))</option>
                    <option value=)))>)))</option>
                    <option value=))))>))))</option>
                    
                    </select>  
                </div>
                <div class="small-2 columns">
                  <select id="AndOr8">
                    <option value=&&> AND </option>
                    <option value=||> OR </option>
                  </select>
                </div>
                </div>

              {{else}}
              {{#if  isAddingTologicalExpression7 }}
              <div class="row">
                <div class="large-12 columns">
                  <a href="#" class="button tiny notmain" {{action 'addtoLogicalExpression8'}}>Extend Logical Expression</a>
                </div>
              </div>
              {{/if}}
            {{/if}}
{{! EXPRESSION 9 **********************************************************}}
            {{#if  isAddingTologicalExpression9 }}
              <div class="large-12 columns">
              <div class="small-1 columns">
                    <select id="openBracket9">
                      <option value=(>(</option>
                      <option value=((>((</option>
                      <option value=(((>(((</option>
                      <option value=((((>((((</option>
                    
                    </select>                              
                </div>

                <div class="small-3 columns">
                  <select onchange={{action (mut selectedCoursecode9) value="target.value"}}>
                    <option value=default>Select One</option>
                    <option value=AVG>AVG</option>
                    {{#each coursecodeModel as |coursecodeChoice9|}}
                    <option value={{coursecodeChoice9.id}} selected={{eq selectedCoursecode9 coursecodeChoice9}}>{{coursecodeChoice9.name}}</option>
                    {{/each}}
                  </select>
                </div>

                <div class="small-2 columns">
                  <select id="inequality9">
                    <option value='&#62;'> ></option>
                    <option value='&#62;='> >= </option>
                    <option value='&#60;'> &#60; </option>
                    <option value='&#60;='> &#60;=</option>
                    <option value='='> =</option>
                    <option value='!='> !=</option>
                  </select>
                </div>

                <div class="small-3 columns">
                  {{input type="number" value=val9 min="0" max="100"}}
                </div>

                <div class="small-1 columns">
                  <select id="closeBracket9">
                    <option value=)>)</option>
                    <option value=))>))</option>
                    <option value=)))>)))</option>
                    <option value=))))>))))</option>
                    
                    </select>  
                </div>
                <div class="small-2 columns">
                  <select id="AndOr9">
                    <option value=&&> AND </option>
                    <option value=||> OR </option>
                  </select>
                </div>
                </div>

              {{else}}
              {{#if  isAddingTologicalExpression8 }}
              <div class="row">
                <div class="large-12 columns">
                  <a href="#" class="button tiny notmain" {{action 'addtoLogicalExpression9'}}>Extend Logical Expression</a>
                </div>
              </div>
              {{/if}}
            {{/if}}
{{! EXPRESSION 10 **********************************************************}}
            {{#if  isAddingTologicalExpression10 }}
              <div class="large-12 columns">
              <div class="small-1 columns">
                    <select id="openBracket10">
                      <option value=(>(</option>
                      <option value=((>((</option>
                      <option value=(((>(((</option>
                      <option value=((((>((((</option>
                    
                    </select>                              
                </div>

                <div class="small-3 columns">
                  <select onchange={{action (mut selectedCoursecode10) value="target.value"}}>
                    <option value=default>Select One</option>
                    <option value=AVG>AVG</option>
                    {{#each coursecodeModel as |coursecodeChoice10|}}
                    <option value={{coursecodeChoice10.id}} selected={{eq selectedCoursecode10 coursecodeChoice10}}>{{coursecodeChoice10.name}}</option>
                    {{/each}}
                  </select>
                </div>

                <div class="small-2 columns">
                  <select id="inequality10">
                    <option value='&#62;'> ></option>
                    <option value='&#62;='> >= </option>
                    <option value='&#60;'> &#60; </option>
                    <option value='&#60;='> &#60;=</option>
                    <option value='='> =</option>
                    <option value='!='> !=</option>
                  </select>
                </div>

                <div class="small-3 columns">
                  {{input type="number" value=val10 min="0" max="100"}}
                </div>

                <div class="small-1 columns">
                  <select id="closeBracket10">
                    <option value=)>)</option>
                    <option value=))>))</option>
                    <option value=)))>)))</option>
                    <option value=))))>))))</option>
                    
                    </select>  
                </div>
                <div class="small-2 columns">
                  <select id="AndOr10">
                    <option value=&&> AND </option>
                    <option value=||> OR </option>
                  </select>
                </div>
                </div>

              {{else}}
              {{#if  isAddingTologicalExpression9 }}
              <div class="row">
                <div class="large-12 columns">
                  <a href="#" class="button tiny notmain" {{action 'addtoLogicalExpression10'}}>Extend Logical Expression</a>
                </div>
              </div>
              {{/if}}
            {{/if}}
{{! EXPRESSION 11 **********************************************************}}
            {{#if  isAddingTologicalExpression11 }}
              <div class="large-12 columns">
              <div class="small-1 columns">
                    <select id="openBracket11">
                      <option value=(>(</option>
                      <option value=((>((</option>
                      <option value=(((>(((</option>
                      <option value=((((>((((</option>
                    
                    </select>                              
                </div>

                <div class="small-3 columns">
                  <select onchange={{action (mut selectedCoursecode11) value="target.value"}}>
                    <option value=default>Select One</option>
                    <option value=AVG>AVG</option>
                    {{#each coursecodeModel as |coursecodeChoice11|}}
                    <option value={{coursecodeChoice11.id}} selected={{eq selectedCoursecode11 coursecodeChoice11}}>{{coursecodeChoice11.name}}</option>
                    {{/each}}
                  </select>
                </div>

                <div class="small-2 columns">
                  <select id="inequality11">
                    <option value='&#62;'> ></option>
                    <option value='&#62;='> >= </option>
                    <option value='&#60;'> &#60; </option>
                    <option value='&#60;='> &#60;=</option>
                    <option value='='> =</option>
                    <option value='!='> !=</option>
                  </select>
                </div>

                <div class="small-3 columns">
                  {{input type="number" value=val11 min="0" max="100"}}
                </div>

                <div class="small-1 columns">
                  <select id="closeBracket11">
                    <option value=)>)</option>
                    <option value=))>))</option>
                    <option value=)))>)))</option>
                    <option value=))))>))))</option>
                    
                    </select>  
                </div>
           {{!     <div class="small-2 columns">
                  <select id="AndOr11">
                    <option value=&&> AND </option>
                    <option value=||> OR </option>
                  </select>
                </div>
            }}
            </div>>
              {{else}}
              {{#if  isAddingTologicalExpression10 }}
              <div class="row">
                <div class="large-12 columns">
                  <a href="#" class="button tiny notmain" {{action 'addtoLogicalExpression11'}}>Extend Logical Expression</a>
                </div>
              </div>
              {{/if}}
            {{/if}}


            </div>
          </div>

        </div>

      </form>
    </fieldset>
    <br>
    <a href="#" class="button primary tiny" {{action 'saveLogicalExpression'}}>Save</a>
    <a href="#" class="button primary tiny" {{action 'cancelLogicalExpression'}}>Cancel</a>
  </div>
</div>



{{else}}

<div class="row">
  <div class="large-12 columns">
    <a href="#" class="button tiny notmain no-bottom-margin" {{action 'addLogicalExpression'}}>Add Logical Expression</a>
  </div>
</div>

{{/if}}