{{#if  isManagingItrprogram }}
    <div class="row">
        <div class="large-12 columns">
            <br>
            <h3 align="center">Select ITR Programs for Student</h3>
            <hr/>
            <br>
            <fieldset>
            <legend>Please use the form below</legend>
            <br>
            <form>
              <div class="row">
                <div class="large-12 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-3 columns">
                      <span class="prefix">Student</span>
                    </div>
                    <div class="small-9 columns">
                      <select onchange={{action (mut selectedStudent) value="target.value"}}>
                        {{#each studentModel as |studentChoice|}}
                            <option value={{studentChoice.id}} selected={{eq selectedStudent studentChoice}}>{{studentChoice.number}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="large-12 columns">
                    <hr>
                  </div>
                </div>
                <div class="large-12 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-3 columns">
                      <span class="prefix">Program Name</span>
                    </div>
                    <div class="small-9 columns">
                      <select onchange={{action (mut selectedAcademicprogramcode) value="target.value"}}>
                        <option selected="true" disabled="disabled">Select Choice One</option>  
                        {{#each academicprogramcodeModel as |academicprogramcodeChoice|}}
                            <option value={{academicprogramcodeChoice.id}} selected={{eq selectedAcademicprogramcode academicprogramcodeChoice}}>{{academicprogramcodeChoice.name}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <br>
                </div>
                <div class="large-12 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-2 columns">
                      <span class="prefix">Rank</span>
                    </div>
                    <div class="small-3 columns">
                      <select id="order">
                        <option value=1>1</option>
                      </select>
                    </div>
                    <div class="small-2 columns">
                      <p></p>
                    </div>
                    <div class="small-2 columns">
                      <span class="prefix">Eligibility</span>
                    </div>
                    <div class="small-3 columns">
                       {{input value=eligibility type="text" placeholder="enter eligibility" }}
                    </div>
                  </div>
                </div>


                <div>
                  <div class="large-12 columns">
                    <hr>
                    <br>
                  </div>
                </div>
                <div class="large-12 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-3 columns">
                      <span class="prefix">Program Name</span>
                    </div>
                    <div class="small-9 columns">
                      <select onchange={{action (mut selectedAcademicprogramcode1) value="target.value"}}>
                        <option selected="true" disabled="disabled">Select Choice Two</option> 
                        {{#each academicprogramcodeModel as |academicprogramcodeChoice|}}
                            <option value={{academicprogramcodeChoice.id}} selected={{eq selectedAcademicprogramcode1 academicprogramcodeChoice}}>{{academicprogramcodeChoice.name}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <br>
                </div>
                <div class="large-12 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-2 columns">
                      <span class="prefix">Rank</span>
                    </div>
                    <div class="small-3 columns">
                      <select id="order1">
                        <option value=2>2</option>
                      </select>
                    </div>
                    <div class="small-2 columns">
                      <p></p>
                    </div>
                    <div class="small-2 columns">
                      <span class="prefix">Eligibility</span>
                    </div>
                    <div class="small-3 columns">
                       {{input value=eligibility1 type="text" placeholder="enter eligibility" }}
                    </div>
                  </div>
                </div>


                <div>
                  <div class="large-12 columns">
                    <hr>
                    <br>
                  </div>
                </div>
                <div class="large-12 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-3 columns">
                      <span class="prefix">Program Name</span>
                    </div>
                    <div class="small-9 columns">
                      <select onchange={{action (mut selectedAcademicprogramcode2) value="target.value"}}>
                        <option selected="true" disabled="disabled">Select Choice Three</option> 
                        {{#each academicprogramcodeModel as |academicprogramcodeChoice|}}
                            <option value={{academicprogramcodeChoice.id}} selected={{eq selectedAcademicprogramcode2 academicprogramcodeChoice}}>{{academicprogramcodeChoice.name}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <br>
                </div>
                <div class="large-12 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-2 columns">
                      <span class="prefix">Rank</span>
                    </div>
                    <div class="small-3 columns">
                      <select id="order2">
                        <option value=3>3</option>
                      </select>
                    </div>
                    <div class="small-2 columns">
                      <p></p>
                    </div>
                    <div class="small-2 columns">
                      <span class="prefix">Eligibility</span>
                    </div>
                    <div class="small-3 columns">
                       {{input value=eligibility2 type="text" placeholder="enter eligibility" }}
                    </div>
                  </div>
                </div>


            </div>
          </form>
        </fieldset>
        <br>
        <a href="#" class="button radius" {{action 'saveItrprogram'}}>Save</a>
        <a href="#" class="button radius" {{action 'cancel'}}>Cancel</a>
      </div>
    </div>
{{else}}
    <div class="row">
        <div class="large-12 columns">
            <a href="#" class="button round main" {{action 'addNewItrprogram'}}>Select ITR Programs for Student</a>
        </div>
    </div>
{{/if}}