{{#if isManagingTermcode}}
<div class="row">
  <div class="large-12 columns">
    <h4 align="center"> Manage Term Code</h4>
  </div>
</div>

<div class="row">
  <div class="large-10  large-centered columns">
    <div class="panel">
      {{#if isAddingNewTermcode}}
      <h4>Add new term code</h4>
      <form>
        <div class="row">
          <div class="large-12 columns">
            <label>Name
              {{input value=name  type="text" }}
            </label>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="large-12 columns">
          <a href="#" class="button primary tiny" {{action 'saveNewTermcode'}}>Save</a>
          <a href="#" class="button primary tiny" {{action 'cancelAddNewTermcode'}}>Cancel</a>
        </div>
      </div>
      <br>
      {{else}}
      <table>
        <tr>
          <th>
            Term Code
          </th>
          <th>
            Delete
          </th>
        </tr>
      {{#each termcodeModel as |oneTermcode|}}
<!--       <div class="row">
        <li class="large-3 columns">  {{oneTermcode.name}} </li>
        {{delete-termcode ID=oneTermcode.id}}
      </div> -->

      <tr>
        <td>
          {{oneTermcode.name}}
        </td>
        <td>
          {{delete-termcode ID=oneTermcode.id}}
        </td>
      </tr>
      {{/each}}
    </table>
      <div class="row">
        <div class="large-12 columns">
          <br> 
          <a href="#" class="button primary tiny full" {{action 'addNewTermcode'}}>Add new term code</a>
          <a href="#" class="button primary tiny" {{action 'doneTermcode'}}>Done</a>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</div>

{{else}}
<div class="large-2 columns">
  <a href="#" class="button round tiny" {{action 'manageTermcode' }}>More</a>
</div>
{{/if}}


