{{#if isManagingResidency}}
    <div class="row">
        <div class="large-12 columns">
            <h4 align="center"> Manage Residency</h4>
        </div>
    </div>

    <div class="row">
        <div class="large-10  large-centered columns">
            <div class="panel">
              {{#if isAddingNewResidency}}
                  <h2>Add new residency</h2>
                  <form>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Name
                                {{input value=name  type="text" }}
                              </label>
                          </div>
                      </div>
                  </form>
                  <div class="row">
                      <div class="large-12 columns">
                          <a href="#" class="button radius" {{action 'saveNewResidency'}}>Save</a>
                          <a href="#" class="button radius" {{action 'cancelAddNewResidency'}}>Cancel</a>
                      </div>
                  </div>
                  <br>
              {{else}}
                {{#each residencyModel as |oneResidency|}}
                    <div class="row">
                        <li class="large-3 columns">  {{oneResidency.name}} </li>

                        <div class="large-2 columns">
                          {{delete-residency ID=oneResidency.id }}
                        </div>
                    </div>
                {{/each}}
                  <div class="row">
                      <div class="large-12 columns">
                          <br> <br> <br>
                          <a href="#" class="button radius" {{action 'addNewResidency'}}>Add new residency</a>
                          <a href="#" class="button radius" {{action 'doneResidency'}}>Done</a>
                      </div>
                  </div>
              {{/if}}
            </div>
        </div>
    </div>

{{else}}
    <div class="large-2 columns">
        <a href="#" class="button round tiny" {{action 'manageResidency' }}>More</a>
    </div>
{{/if}}


