{{#if  isHighschoolcoursesmarkFormEditing }}

<div class="row">
  <div class="large-12 columns">
    <br>
    <h4 align="center">Add New Mark</h4>
    <hr/>
    <br>
    <fieldset>
      <legend>Please use the form below</legend>
      <br>
      <form>

      <div class="row">
          <div class="large-12 columns">

        
          <div class="large-12 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">Level</span>
              </div>
              <div class="small-9 columns">
                {{input value=level  type="text" placeholder="enter level"}}
              </div>
            </div>
          </div>
        

        
          <div class="large-12 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">Source</span>
              </div>
              <div class="small-9 columns">
                {{input value=source  type="text" placeholder="enter source"}}
              </div>
            </div>
          </div>
        

        
          <div class="large-12 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">Unit</span>
              </div>
              <div class="small-9 columns">
                {{input value=unit  type="text" placeholder="enter unit"}}
              </div>
            </div>
          </div>
        

        
          <div class="large-12 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">Grade</span>
              </div>
              <div class="small-9 columns">
                {{input value=grade  type="text" placeholder="enter grade"}}
              </div>
            </div>
          </div>

        <div class="large-12 columns">
            <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                    <span class="prefix">Secondary School</span>
                </div>
                <div class="small-9 columns">
                    <select onchange={{action (mut selectedSchool) value="target.value"}}>
                        {{#each schools as |schoolChoice|}}
                        <option value={{schoolChoice.id}} selected={{eq selectedSchool schoolChoice}}>{{schoolChoice.name}}</option>
                        {{/each}}
                    </select>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <div class="large-12 columns">
            <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                    <span class="prefix">Subject</span>
                </div>
                <div class="small-9 columns">
                    <select onchange={{action (mut selectedSubject) value="target.value"}}>
                        {{#each highSchoolSubjectModel as |subjectChoice|}}
                        <option value={{subjectChoice.id}} selected={{eq selectedSubject subjectChoice}}>{{subjectChoice.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
     
    </div>
  </div>

      </form>
    </fieldset>
    <br>
    <a href="#" class="button primary tiny" {{action 'saveHighschoolcoursesmark'}}>Save</a>
    <a href="#" class="button primary tiny" {{action 'cancelHighschoolcoursesmark'}}>Cancel</a>
  </div>
</div>

{{else if isSelectingStudent}}
<div class="row">
  <div class="large-12 columns">
    <br>
    <h4 align="center">Add New Mark</h4>
    <hr/>
    <br>
    <fieldset>
      <legend>Select a student to proceed</legend>
      <br>
      <form>

      <div class="row">
          <div class="large-12 columns">

  <div class="large-12 columns">
      <div class="row collapse prefix-radius">
          <div class="small-3 columns">
              <span class="prefix">Student</span>
          </div>
          <div class="small-9 columns">
              <select onchange={{action (mut selectedStudent) value="target.value"}}>
                  {{#each studentModel as |studentChoice|}}
                  <option value={{studentChoice.id}} selected={{eq selectedStudent studentChoice}}>{{studentChoice.number}}</option>
                  {{/each}}
              </select>
          </div>
      </div>
  </div>
      </div>
  </div>

      </form>
    </fieldset>
    <br>
    <a href="#" class="button primary tiny" {{action 'selectStudent'}}>Select</a>
    <a href="#" class="button primary tiny" {{action 'cancelHighschoolcoursesmark'}}>Cancel</a>
  </div>
</div>


{{else}}
<div class="row">
  <div class="large-12 columns">
    <a href="#" class="button tiny notmain" {{action 'addHighschoolcoursesmark'}}>Add Mark</a>
  </div>
</div>
{{/if}}