{{#if isManagingCoursecode}}
    <div class="row">
        <div class="large-12 columns">
            <h4 align="center"> Manage Course Code</h4>
        </div>
    </div>

    <div class="row">
        <div class="large-10  large-centered columns">
            <div class="panel">
              {{#if isAddingNewCoursecode}}
                  <h4>Add new course code</h4>
                  <form>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Code
                                {{input value=code  type="text" }}
                              </label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Number
                                {{input value=number  type="text" }}
                              </label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Name
                                {{input value=name  type="text" }}
                              </label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Unit
                                {{input value=unit  type="text" }}
                              </label>
                          </div>
                      </div>
                  </form>
                  <div class="row">
                      <div class="large-12 columns">
                          <a href="#" class="button primary tiny" {{action 'saveNewCoursecode'}}>Save</a>
                          <a href="#" class="button primary tiny" {{action 'cancelAddNewCoursecode'}}>Cancel</a>
                      </div>
                  </div>
                  <br>
              {{else}}
                {{#each coursecodeModel as |oneCoursecode|}}
                    <div class="row">
                        <li class="large-3 columns">  {{oneCoursecode.name}} </li>

                        {{delete-coursecode ID=oneCoursecode.id}}

                    </div>
                {{/each}}
                  <div class="row">
                      <div class="large-12 columns">
                          <br>
                          <a href="#" class="button primary tiny full" {{action 'addNewCoursecode'}}>Add new course code</a>
                          <a href="#" class="button primary tiny" {{action 'doneCoursecode'}}>Done</a>
                      </div>
                  </div>
              {{/if}}
            </div>
        </div>
    </div>

{{else}}
    <div class="large-2 columns">
        <a href="#" class="button round tiny" {{action 'manageCoursecode' }}>More</a>
    </div>
{{/if}}


