{{#if isManagingPermission}}
    <hr/>
    <div class="row">
        <div class="large-12 columns">
            <h4 align="center"> Assign Capabilities for {{roleName}}</h4>
        </div>
    </div>

    <div class="row">
        <div class="large-10  large-centered columns">
            <div class="panel">
                <div class="row">
                    <div class="large-12 columns">
                        <br>
                        <!-- display a list of assigned system features names -->
                        <!-- for the current user role                        -->
                        <table>
                          <tr>
                            <td>Permission</td>
                            <td>Delete</td>
                          </tr>
                      {{#each sysFeatureModel as |oneFeature|}}
                          <tr>
                              <td>{{oneFeature.code}} {{oneFeature.sysFeature}} </td>
                              <td><a href="#" class="button info tiny delete" {{action 'deleteRoleCode' oneFeature.id}}>Delete</a></td>
                          </tr>
                      {{/each}}
                    </table>
                        <!-- display a dropdown list to assign a new  system features  -->
                        <br>
                        <select class="shortwidth" onchange={{action 'selectPermission' value="target.value"}}>
                            <option value="" disabled selected> -- Select Permission --</option>
                          {{#each rolePermissionModel as |permissionChoice|}}
                              <option value={{permissionChoice.id}}>{{permissionChoice.code}} {{permissionChoice.sysFeature}}</option>
                          {{/each}}
                        </select>

                        <br> <br>
                        <a href="#" class="button primary tiny" {{action 'done'}}>Done</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <hr/>
{{else}}
    <div class="row">
        <div class="large-12 large-centered columns">
            <div class="large-5 columns">
              {{yield}}
            </div>
            <div class="large-4 columns">
                <a href="#" class="button primary tiny other" {{action 'managePermission'}}>Manage Permissions</a>
            </div>
            <div class="large-3 columns">
              {{delete-role key=code}}
            </div>
        </div>
    </div>
{{/if}}



