{{#if isManagingCity}}
    <div class="row">
        <div class="large-12 columns">
            <h4 align="center"> Manage City</h4>
        </div>
    </div>

    <div class="row">
        <div class="large-10  large-centered columns">
            <div class="panel">
              {{#if isAddingNewCity}}
                  <h2>Add new City</h2>
                  <form>
                      <div class="row">
                          <div class="large-12 columns">



                <div class="large-12 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-3 columns">
                      <span class="prefix">Province</span>
                    </div>
                    <!--<div>Hello {{countryID}} and {{countryChoice.id}}</div>-->
                    <div class="small-9 columns">
                                <select onchange={{action (mut selectedProvince) value="target.value"}}>
                                  {{#each provinceModel as |provinceChoice|}}
                                      <option value={{provinceChoice.id}} selected={{eq selectedProvince provinceChoice}}>{{provinceChoice.name}}</option>
                                  {{/each}}
                                </select>
                    </div>
                  </div>
                </div>
                          
                              <label>Name
                                {{input value=selectedCity  type="text" }}
                              </label>
                          </div>
                      </div>
                  </form>
                  <div class="row">
                      <div class="large-12 columns">
                          <a href="#" class="button radius" {{action 'saveNewCity'}}>Save</a>
                          <a href="#" class="button radius" {{action 'cancelAddNewCity'}}>Cancel</a>
                      </div>
                  </div>
                  <br>
              {{else}}
                {{#each cityModel as |oneCity|}}
                    <div class="row">
                        <li class="large-3 columns">  {{oneCity.name}} </li>
                          {{delete-city ID=oneCity.id }}
                    </div>
                {{/each}}
                  <div class="row">
                      <div class="large-12 columns">
                          <br> <br> <br>
                          <a href="#" class="button radius" {{action 'addNewCity'}}>Add new city</a>
                          <a href="#" class="button radius" {{action 'doneCity'}}>Done</a>
                      </div>
                  </div>
              {{/if}}
            </div>
        </div>
    </div>

{{else}}
    <div class="large-2 columns">
        <a href="#" class="button round tiny" {{action 'manageCity' }}>More</a>
    </div>
{{/if}}



