{{#if isManagingDegreecode}}
    <div class="row">
        <div class="large-12 columns">
            <h4 align="center"> Manage Degree Code</h4>
        </div>
    </div>

    <div class="row">
        <div class="large-10  large-centered columns">
            <div class="panel">
              {{#if isAddingNewDegreecode}}
                  <h2>Add new degree code</h2>
                  <form>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Name
                                {{input value=name  type="text" }}
                              </label>
                          </div>
                      </div>
                  </form>
                  <div class="row">
                      <div class="large-12 columns">
                          <a href="#" class="button radius" {{action 'saveNewDegreecode'}}>Save</a>
                          <a href="#" class="button radius" {{action 'cancelAddNewDegreecode'}}>Cancel</a>
                      </div>
                  </div>
                  <br>
              {{else}}
                {{#each degreecodeModel as |oneDegreecode|}}
                    <div class="row">
                        <li class="large-3 columns">  {{oneDegreecode.name}} </li>
                        {{delete-degreecode ID=oneDegreecode.id}}
                    </div>
                {{/each}}
                  <div class="row">
                      <div class="large-12 columns">
                          <br> <br> <br>
                          <a href="#" class="button radius" {{action 'addNewDegreecode'}}>Add new degree code</a>
                          <a href="#" class="button radius" {{action 'doneDegreecode'}}>Done</a>
                      </div>
                  </div>
              {{/if}}
            </div>
        </div>
    </div>

{{else}}
    <div class="large-2 columns">
        <a href="#" class="button round tiny" {{action 'manageDegreecode' }}>More</a>
    </div>
{{/if}}


