{{#if  isManagingFaculty }}
  <div class="row">
    <div class="large-12 columns">
      {{view-faculty}}
      <br>
      <h3 align="center">Add New Faculty</h3>
      <hr/>
      <br>
      <fieldset>
        <legend>Please use the form below</legend>
        <br>
        <form>
          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Name</span>
                </div>
                <div class="small-9 columns">
                  {{input value=name  type="text" placeholder="enter name"}}
                </div>
              </div>
            </div>
          </div>
        </form>
      </fieldset>
      <br>
      <a href="#" class="button radius" {{action 'saveFaculty'}}>Save</a>
      <a href="#" class="button radius" {{action 'cancel'}}>Cancel</a>
    </div>
  </div>
{{else}}
    <div class="row">
        <div class="large-12 columns">
            <a href="#" class="button round main" {{action 'addNewFaculty'}}>Manage Faculty</a>
        </div>
    </div>
{{/if}}