{{#if  isGradeFormEditing }}
<div class="row">
  <div class="large-12 columns">
    <br>
    <h4 align="center">Add New Grade</h4>
    <hr/>
    <br>
    <fieldset>
      <legend>Please use the form below</legend>
      <br>
      <form>
        <div class="row">
          <div class="large-12 columns">

            <div class="large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Mark</span>
                </div>
                <div class="small-9 columns">
                  {{input value=mark type="text" placeholder="enter mark" }}
                </div>
              </div>
            </div>

            <div class="large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Section</span>
                </div>
                <div class="small-9 columns">
                  {{input value=section type="text" placeholder="enter section" }}
                </div>
              </div>
            </div>

            <div class="large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Course Code</span>
                </div>
                <div class="small-9 columns">
                  <select onchange={{action (mut selectedCoursecode) value="target.value"}}>
                    {{!--   <select onchange={{action 'selectCoursecode' value="target.value"}} > --}}
                    <option selected="true" disabled="disabled">Select Course</option>
                    {{#each coursecodeModel as |coursecodeChoice|}}
                    <option value={{coursecodeChoice.id}} selected={{eq selectedCoursecode coursecodeChoice}}>{{coursecodeChoice.name}}</option>
                    {{/each}}
                  </select>
                </div>

              </div>
            </div>

            <div class="large-12 columns spacemeup">
              {{manage-coursecode}}
            </div>

            <div class="large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Student</span>
                </div>
                <div class="small-9 columns">
                  <select onchange={{action (mut selectedStudent) value="target.value"}}>
                    {{#each studentModel as |studentChoice|}}
                    <option value={{studentChoice.id}} selected={{eq selectedStudent studentChoice}}>{{studentChoice.number}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>

            <div class="large-12 columns spacemeup">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Program Record</span>
                </div>
                <div class="small-9 columns">
                  <select onchange={{action (mut selectedProgramrecord) value="target.value"}}>
                    {{#each programrecordModel as |programrecordChoice|}}
                    <option value={{programrecordChoice.id}} selected={{eq selectedProgramrecord programrecordChoice}}>{{programrecordChoice.level}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </fieldset>
    <br>
    <a href="#" class="button primary tiny" {{action 'saveGrade'}}>Save</a>
    <a href="#" class="button primary tiny" {{action 'cancel'}}>Cancel</a>
  </div>
</div>
{{else}}
<div class="row">
  <div class="large-12 columns">
    <a href="#" class="button tiny notmain" {{action 'addNewGrade'}}>Add New Grade</a>
  </div>
</div>
{{/if}}

