{{#if MF001IsPermitted }}
{{#if isEditing }}
    <h4>Add new system feature</h4>
    <form>
        <div class="row">
            <div class="large-12 columns">
                <label>Feature code
                  {{input class="shortwidth centerthis" value=code type="text" }}
                </label>
                <label>Feature name
                  {{input class="shortwidth centerthis" value=sysFeature type="text" }}
                </label>
            </div>
        </div>
    </form>
    <br>
    <a href="#" class="button primary tiny" {{action 'save'}}>Save</a>
    <a href="#" class="button primary tiny" {{action 'cancel'}}>Cancel</a>
{{else}}
  {{#each rolePermissionModel as |oneFeature|}}
      <div class="row">
        <div class="large-10 large-centered columns">
          <div class="large-2 columns">
            {{oneFeature.code}}
          </div>
          <div class="large-5 columns">
            {{oneFeature.sysFeature}}
          </div>
          <div class="large-3 columns">
            {{delete-feature ID=oneFeature.id }}
          </div>
        </div>
      </div>

  {{/each}}
  <div class="row">
      <div class="large-12 columns">
          <br>
          <a href="#" class="button primary tiny other" {{action 'addNewFeature'}}>Add System Feature</a>
      </div>
  </div>
{{/if}}
{{else}}

    <div class="row">
        <div class="large-8 large-centered columns alert-box info radius">
            <h5>This feature (MF001) is not allowed for your account. </h5>
            <h5>Please contact the system administrator for more information.</h5>

        </div>
    </div>

{{/if}}